
a {
    color: #428bca;
    text-decoration: none;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.container {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h1, h2, h3, {
    margin-top: 20px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.l-footer {
    padding: 24px 0;
}
.l-footer .flex-grid {
    display: flex;
}

.l-footer ul {
    flex: 1;
    text-align: center;
}

.l-footer ul li {
    list-style: none;
}

.l-footer img {
    vertical-align: middle;
}
